* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  transition: transform 0.3s ease;
}

.header,
.footer,
.content {
  transition: transform 0.3s ease;
}
/*
.App.shifted {
  transform: translateX(300px);
}

.navbar.open {
  transform: translateX(0);
}

.header,
.footer,
.content {
  transition: transform 0.3s ease;
}

.shifted .header,
.shifted .footer,
.shifted .content {
  transform: translateX(300px);
} */
@media (max-width: 768px) {
  body,
  html {
    height: 100%;
    overflow-x: hidden;
  }
}
