* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* App.css */
.App {
  transition: transform 0.3s ease;
}

.App.shifted {
  transform: translateX(-300px); /* Adjust this as needed */
  background-color: cyan;
}

/* Content that shifts */
.header,
.footer,
.content {
  transition: transform 0.3s ease;
}

.shifted .header,
.shifted .footer,
.shifted .content {
  transform: translateX(300px); /* Matches the .App shift */
}
