@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Color Variables */
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-heading: "Cormorant Garamond", serif;
  --raisin-black: #211f20; /* Dark, almost black */
  --zapier-orange: #ff4f00; /* Bright orange */
  --beige-tan: #b6a28f; /* Soft beige/tan */
  --off-white: #f2f0eb; /* Off white */
  --dark-gray: #0e0e0e; /* Very dark gray */
  --light-beige: #dfd8c4; /* Light beige */
  --slate-gray: #202930; /* Muted slate gray */
  --header: #57312e; /* color for the header */
}

/* Apply Cormorant Garamond font to the body */
body {
  font-family: var(--font-primary);
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Global Typography Styles */
.page-heading {
  font-size: clamp(100px, 3vw + 1rem, 115px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
}

.introduction {
  font-size: clamp(12px, 1vw + 0.5rem, 27px);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5; /* Adjust as needed */
  margin-bottom: calc(
    1 * clamp(50px, 2vw + 1rem, 65px)
  ); /* 1x heading height */
}

.heading {
  font-size: clamp(50px, 2vw + 1rem, 65px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2; /* Adjust as needed */
  margin-bottom: calc(1 * clamp(16px, 1vw + 1rem, 31px)); /* 1x body height */
}

.body {
  font-size: clamp(16px, 1vw + 1rem, 31px);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5; /* Adjust as needed */
  margin-bottom: calc(4 * 1.5 * clamp(16px, 1vw + 1rem, 31px));
}

.button {
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
  margin-bottom: calc(
    4 * clamp(17px, 1vw + 0.5rem, 32px)
  ); /* 4x button height */
}

.dropdown {
  font-size: clamp(12px, 1vw + 0.3rem, 27px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}

/* Specific Sections */
.insert-heading {
  font-size: clamp(30px, 2vw + 0.5rem, 45px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2; /* Adjust as needed */
}

.insert-body {
  font-size: clamp(13px, 1vw + 0.3rem, 28px);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5; /* Adjust as needed */
  margin-bottom: calc(
    4 * 1.5 * clamp(13px, 1vw + 0.3rem, 28px)
  ); /* 4x line height */
}

.insert-button {
  font-size: clamp(14px, 1vw + 0.3rem, 29px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}

/* Header */
.header-introduction {
  font-size: clamp(12px, 1vw + 0.3rem, 27px);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5; /* Adjust as needed */
}

.header-main-button {
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}

.header-options {
  font-size: clamp(14px, 1vw + 0.3rem, 29px);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5; /* Adjust as needed */
}

/* Footer */
.footer-heading {
  font-size: clamp(35px, 2vw + 0.5rem, 50px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2; /* Adjust as needed */
}

.footer-body {
  font-size: clamp(15px, 1vw + 0.5rem, 30px);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5; /* Adjust as needed */
}

.footer-inserts {
  font-size: clamp(12px, 1vw + 0.3rem, 27px);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5; /* Adjust as needed */
}

.footer-button {
  font-size: clamp(14px, 1vw + 0.3rem, 29px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}

/* Map */
.map-points {
  font-size: clamp(11px, 1vw + 0.2rem, 26px);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5; /* Adjust as needed */
}

.map-destinations {
  font-size: clamp(13px, 1vw + 0.3rem, 28px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}

.map-destination-name {
  font-size: clamp(20px, 1.5vw + 1rem, 35px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}
