.footer {
  background-color: var(--off-white);
  margin: 1px;
  text-align: center;
  font-family: Garamond;
  color: var(--raisin-black);
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  margin: 40px; /* Margin between columns */
}

.footer-column h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-transform: capitalize;
}
.footer-column ul {
  list-style: none;
}
.footer-column ul li {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-bottom: 30px;
  margin-left: 10px;
  color: var(--dark-gray);
}

/* Adding lines after social icons and logo */
.horizontal-line {
  width: 98%; /* Full width of the parent container */
  height: 1px;
  background-color: #ccc;
  margin: 30px 2rem; /* Top and bottom margins only */
  position: relative; /* Keep it in the normal flow */
  left: 0; /* Align to the left */
  transform: none; /* No transform needed */
}

.newsletter-section {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px; /* Optional padding to control space on left and right */
}

.newsletter-section h3 {
  text-align: left;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--dark-gray);
}

.newsletter-section p {
  text-align: left;
  margin-left: 20px;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0 0 20px 0; /* Bottom margin only */
  text-align: left;
  color: var(--dark-gray);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.newsletter-form input {
  display: block;
  width: 100%; /* Full width to fill the container */
  margin: 10px 0; /* Vertical margin only */
  padding: 25px;
  padding-left: 5px;
  border: 1px solid #ccc;
  background-color: var(--off-white);
}

.newsletter-form button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: left;
  width: 100%; /* Full width to fill the container */
  margin-top: 10px;
}

.footer-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full-width container */
  margin-top: 50px; /* Optional: add space above */
}

.footer-social {
  display: flex;
  gap: 20px; /* Space between icons */
}

.footer-social a {
  font-size: 20px;
  color: var(--dark-gray);
  text-decoration: none;
  padding: 15px; /* Adjust for circle size */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white);
  border: 2px solid var(--dark-gray); /* Black border */
  border-radius: 50%; /* Make it circular */
  width: 50px; /* Fixed width and height for circular shape */
  height: 50px;
  transition: background-color 0.3s ease; /* Optional: hover effect */
}

.footer-social a:hover {
  background-color: #f0f0f0; /* Optional: change background on hover */
}

.footer-logo {
  margin: 30px 0;
}

.footer-logo img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  background-color: transparent;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.footer-bottom a {
  font-size: 1.3rem;
  color: var(--dark-gray);
  text-decoration: none;
  text-transform: uppercase;
}

.footer-copyright {
  font-size: 1.3rem;
  color: var(--dark-gray);
  margin-top: 90px;
  margin-bottom: 20px;
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
  .footer {
    background-color: var(--off-white);
    margin-top: -3rem;
    color: var(--raisin-black);
    padding-bottom: 2rem;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-column {
    width: 100%;
    justify-self: center;
  }
  .footer-column h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
  }
  .footer-column ul {
    list-style: none;
  }
  .footer-column ul li {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
    margin-left: 10px;
    color: var(--dark-gray);
  }
  .horizontal-lines {
    align-self: center;
    width: 8%;
    height: 1px;
    margin-left: 5rem;
    background-color: #ccc;
  }

  .footer-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5rem;
  }

  .footer-social {
    display: flex;
    gap: 10px; /* Space between icons */
    margin-left: 7rem;
  }

  .footer-social a {
    font-size: 20;
    color: var(--dark-gray);
    text-decoration: none;
    padding: 15px; /* Adjust for circle size */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    border: 2px solid var(--dark-gray); /* Black border */
    border-radius: 50%; /* Make it circular */
    width: 50px; /* Fixed width and height for circular shape */
    height: 50px;
    transition: background-color 0.3s ease; /* Optional: hover effect */
  }

  .footer-social a:hover {
    background-color: #f0f0f0; /* Optional: change background on hover */
  }

  .newsletter-section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 20px; /* Optional padding to control space on left and right */
  }

  .newsletter-section h3 {
    text-align: left;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--dark-gray);
  }

  .newsletter-section p {
    text-align: left;
    margin-left: 20px;
    font-size: 1.4rem;
    line-height: 2;
    margin: 0 0 20px 0; /* Bottom margin only */
    text-align: left;
    color: var(--dark-gray);
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .newsletter-form input {
    display: block;
    width: 100%; /* Full width to fill the container */
    margin: 10px 0; /* Vertical margin only */
    padding: 25px;
    padding-left: 5px;
    border: 1px solid #ccc;
    background-color: var(--off-white);
  }

  .newsletter-form button {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: left;
    width: 100%; /* Full width to fill the container */
    margin-top: 10px;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
  }

  .footer-bottom a {
    font-size: 1.2rem;
    color: var(--dark-gray);
    text-decoration: none;
    text-transform: uppercase;
  }

  .footer-copyright {
    font-size: 1.3rem;
    color: var(--dark-gray);
  }
  /* 
     .footer-bottom {
    gap: 40px;
    margin-bottom: 10px;
  }

  .footer-copyright {
    font-size: 15px;
  } */
}
