.footer {
  background-color: #fafafa;
  margin: 5px 5px 10px 5px;
  text-align: center;
  font-family: Garamond;
  color: var(--raisin-black);
  width: 100%;
  height: 100%;
}

.footer-grid {
  display: flex;
  justify-content: space-around;
}

.footer-column {
  margin: 40px; /* Margin between columns */
}

.footer-column h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.footer-column ul {
  list-style: none;
}
.footer-column ul li {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-bottom: 20px;
  margin-left: 10px;
}

/* Adding lines after social icons and logo */
.horizontal-line {
  width: 90%;
  height: 1px;
  background-color: #6b6969;
  margin: 20px auto;
}

.newsletter-section {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.newsletter-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left !important;
  margin-left: 15%;
  margin-bottom: 20px;
  line-height: 2;
}

.newsletter-section p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-bottom: 20px;
  margin-left: 15%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-bottom: 20px;
  margin-left: 10%;
}

.newsletter-form input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  border-radius: 4px;
}
.newsletter-form button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: left;
  width: 90%;
  margin-top: 10px;
}

.footer-social {
  margin: 50px 0;
}
.footer-social a {
  font-size: 20px;
  font-weight: bolder;
  color: #000;
  text-decoration: none;
  padding: 20px;
  margin: 5px;
  border: 1px solid #555;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.footer-logo {
  margin: 30px 0;
}

.footer-logo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 30px 0;
  background-color: transparent;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.footer-bottom a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 1rem;
  color: #333;
  margin-top: 90px;
  margin-bottom: 20px;
}

/* Horizontal lines between sections */
.horizontal-line {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
  margin-left: 15%;
  margin-right: 50px;
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
  .footer-grid {
    display: grid;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-column h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
    font-weight: normal;
    text-align: left;
  }

  .footer-column ul {
    margin-left: 15px;
  }

  .footer-column ul li {
    font-size: 20px;
    margin: 5px 0;
  }

  .footer-social {
    margin: 20px 0;
  }

  .newsletter-section h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .horizontal-lines {
    width: 35%;
    height: 1px;
    background-color: #333232;
    margin: 30px 10px;
    margin-left: 45px;
  }

  .newsletter-form input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    border: none;
  }

  .footer-logo img {
    width: 300px;
    height: 300px;
    margin: 20px 0;
  }

  .footer-bottom {
    gap: 40px;
    margin-bottom: 10px;
  }

  .footer-copyright {
    font-size: 15px;
  }
}
