.hero {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  margin: auto;
  margin-top: -130px;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 10px;
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero-subheading {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  width: 100%;
  font-family: var(--font-heading);
}

.hero-heading {
  /* letter-spacing: 5px; */
  margin-bottom: 50px;
  max-width: 100%;
  padding: auto 0;
  font-size: clamp(100px, 3vw + 1rem, 115px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2; /* Adjusted for better readability */
}

.hero-line {
  margin: 10px auto;
  align-self: center;
  justify-self: center;
  width: 60%;
  height: 2px;
  background-color: #a8a7a7;
  margin-top: 40px;
  border: none;
}
.hero-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 32%;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-top: 30px;
  line-height: 1.2;
  color: var(--off-white);
  font-family: var(--font-heading);
}

.hero-paragraph {
  color: #ffffff;
  padding-left: 55%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-weight: 300;
  font-size: clamp(13px, 5vw, 14px);
  margin-bottom: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
}

.media-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-video,
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-video {
  display: block;
}

.hero-image {
  display: none;
}

/* Display the image on mobile */
@media (max-width: 768px) {
  .media-container {
    width: 100%;
    height: 100%;
  }
  .hero-content {
    margin-top: 60%;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 90vh;
  }
  .hero-video {
    display: none;
  }
  .hero-subheading {
    font-size: 1.2rem;
    margin-bottom: 15px;
    width: 100%;
  }

  .hero-heading {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: normal;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 0px;
  }
  .hero-line {
    margin: 10px auto;
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 2.5px;
    background-color: #a8a7a7;
    margin-top: 80px;
    border: none;
  }
  .hero-line {
    width: 90%;
    height: 1px;
  }

  .hero-image {
    display: block;
  }
  .hero-content h2 {
    display: none;
  }
  .hero-paragraph {
    height: 100%;
    color: #ffffff;
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    font-weight: 300;
    color: blue;
    font-size: clamp(19px, 4vw, 14px);
    margin-bottom: calc(3.5 * clamp(50px, 2vw + 1rem, 65px));
  }
}

/* New section styles */
.new-content {
  background-color: var(--slate-gray);
  color: white;
  padding: 50px 9rem !important;
  margin-top: 0;
  margin-bottom: -40px;
  position: relative;
}

.image-wrapper {
  position: relative;
  width: 100%;
  width: 100%;
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
}

.top-image-container {
  position: relative;
  width: 90%;
}

.top-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bottom-image-container {
  position: absolute;
  bottom: -70%; /* Adjust overlap */
  right: 3%; /* Adjust alignment */
  width: 35%; /* Adjust width for overlap */
}

.bottom-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-content {
  margin-top: 600px; /* Push the text content down after the images */
  text-align: left;
  /* margin-left: 10px; */
  height: 100%;
}
.text-content h5 {
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(12px, 1vw + 0.5rem, 27px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: calc(1 * clamp(50px, 2vw + 1rem, 65px));
}

.text-content h3 {
  font-size: clamp(60px, 3vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.text-content p {
  margin-top: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}
.text-content p:last-child {
  margin-bottom: calc(1 * clamp(50px, 2vw + 1rem, 65px));
}

/* Mobile View */
@media (max-width: 768px) {
  /* New section styles */
  .new-content {
    background-color: var(--slate-gray);
    color: white;
    padding: 10px 1rem !important;
    position: relative;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    padding: 1rem 10px; /* Center the container */
    margin-bottom: -30px;
  }

  .top-image-container {
    position: relative;
    max-width: 100%;
    margin: 0 !important;
  }

  .top-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .bottom-image-container {
    position: absolute;
    width: 50% !important;
  }

  .bottom-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .text-content {
    text-align: left;
    height: 100%;
    margin-top: 350px;
  }

  .text-content p {
    padding-top: 30px;
  }
}

/* Section for "Discover East Africa" */
.iconic-destination {
  background-color: var(--beige-tan);
  color: #ffffff;
  text-align: center;
  padding: 50px 9rem !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: calc(1 * clamp(50px, 5vw + 1rem, 65px));
  gap: 10px;
}
.iconic-destination h5 {
  text-transform: uppercase;
  font-size: clamp(12px, 1vw + 0.5rem, 27px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: calc(1 * clamp(50px, 2vw + 1rem, 65px));
  margin-top: calc(2 * clamp(30px, 1.5vw + 1rem, 45px));
}

.iconic-destination h3 {
  font-size: clamp(60px, 3vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;

  font-size: clamp(60px, 3vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}
.iconic-destination p {
  margin-top: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.map-container {
  transform: translateY(-90px);
  position: relative;
  height: 100%;
  width: 100%;
}

.map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-container h2 {
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(12px, 1vw + 0.5rem, 27px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.5;
  transform: translateY(-90px);
}
.map-container h2 span {
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(12px, 1vw + 0.5rem, 27px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .iconic-destination {
    gap: 5px;
    padding: 15px !important;
  }
  .map-container {
    transform: translateY(0px);
    position: relative;
    height: 100%;
    width: 100%;
  }
  .map-container img {
    width: 100%;
    height: 100%;
    margin-bottom: calc(2 * clamp(50px, 2vw + 1rem, 65px));
  }
  .map-container h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: clamp(20px, 1vw + 0.5rem, 27px);
    font-family: var(--font-heading);
    font-weight: 400;
    line-height: 1.5;
    margin-left: 15px;
  }
  .map-container h2 span {
    text-transform: uppercase;
    text-align: left;
    font-size: clamp(20px, 1vw + 0.5rem, 27px);
    font-family: var(--font-heading);
    font-weight: 400;
    line-height: 1.5;
  }
  .iconic-destination p {
    line-height: 1.7;
  }
}
