/* General section styling */
.safari-sections {
  margin-top: -10rem;
}
.safari-section {
  background-color: var(--beige-tan);
  padding: 20px 9rem !important;
  color: white;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.slider-image {
  position: relative;
  max-width: 95%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.kenya {
  background-image: url("https://images.pexels.com/photos/2253276/pexels-photo-2253276.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.uganda {
  background-image: url("https://images.pexels.com/photos/219943/pexels-photo-219943.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.tanzania {
  background-image: url("https://images.pexels.com/photos/1062249/pexels-photo-1062249.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.rwanda {
  background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.slider-caption {
  position: absolute;
  bottom: 50%;
  left: 35%;
  text-transform: uppercase;
  font-size: clamp(20px, 1.5vw + 1rem, 35px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}

/* Custom Slider Navigation Buttons */
.slider-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 50px;
}

.nav-button {
  border: 1px solid var(--off-white); /* Border for circular look */
  color: var(--off-white); /* Icon color */
  font-size: 1.5rem; /* Icon size */
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

/* section safari */
.section-safari {
  background-color: var(--dark-gray);
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 9rem 0px 9rem !important;
}

.section-content {
  /* padding-top: 70px; */
  text-align: center;
  height: 100%;
  margin-top: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
}

.exclusive-image {
  width: 100%;
  height: 600px;
  background-color: #fff;
  object-fit: cover;
}
.exclusive-image img {
  max-width: 100%;
  width: 100%;
}
.gorilla-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: #fff;
}
.gorilla-image img {
  width: 300px;
}
.gorilla-image {
  width: 100%;
  height: 600px;
  background-color: #fff;
  object-fit: cover;
}
.gorilla-image img {
  max-width: 100%;
  width: 100%;
}
/* }refer to this section for the styling */
.section-content h5 {
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(12px, 1vw + 0.5rem, 20px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: calc(1 * clamp(50px, 2vw + 1rem, 65px));
}
.section-content h3 {
  font-size: clamp(60px, 3vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  text-align: left;
}

.section-content p {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  text-align: left;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.section-content .view-button {
  background-color: var(--dark-gray);
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5;
  margin-top: calc(2 * clamp(17px, 1vw + 0.5rem, 32px));
  margin-bottom: calc(1 * clamp(17px, 1vw + 0.5rem, 32px));
}
/* Media Queries */
@media (max-width: 768px) {
  .safari-sections {
    margin-top: -4rem;
  }
  .section-safari {
    gap: 5px;
    padding: 15px !important;
    width: 100%;
  }
  .safari-section {
    gap: 5px;
    max-width: 100%;
    padding: 20px 0 !important;
  }
  .image-slider {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    overflow-x: hidden;
  }
  .slider-image {
    position: relative;
    height: 60vh;
    background-size: cover;
    background-position: center;
    margin: 10px !important;
  }

  .slider-caption {
    left: 22%;
  }
  /* Custom Slider Navigation Buttons */
  .slider-navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 30px;
    margin-right: 10px;
  }

  .nav-button {
    /* border: 1px solid var(--off-white);
    color: var(--off-white);
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s; */
    display: none;
  }

  .section-content {
    text-align: center;
  }

  .section-content p {
    line-height: 1.7;
  }
  .exclusive-image,
  .gorilla-image {
    object-fit: cover;
    margin-bottom: 90px;
    width: 100%;
  }
  .exclusive-image {
    width: 100%;
    height: 100%;
  }

  .section-content2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
}

/* Swiper Container Styling */
.swiper-container {
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  height: 800px;
  margin: 5rem auto;
}

/* General Slide Styling */
.slide-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: transform 0.5s ease;
  text-align: center;
  flex: 1;
}
/* Image Styling */
.slide-image {
  width: 100%;
  transition: transform 0.5s ease;
  position: relative;
  object-fit: cover;
  height: 600px;
}

/* Heading */
.slide-content h3 {
  font-size: clamp(24px, 3vw, 36px);
  margin: 10px 0;
}

/* Description */
.slide-content p {
  font-size: clamp(16px, 2vw, 20px);
  margin-bottom: 20px;
  transform: translateY(20px); /* Position below */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Button Styling */
.view-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  position: absolute;
  background-color: #0e0e0a;
}
/* Active Slide Animations */
.swiper-slide-active .slide-content img {
  transform: scale(1.01); /* Zoom the active slide */
}

.swiper-slide-active .slide-content p {
  opacity: 1; /* Show description */
  transform: translateY(0); /* Slide content up */
}

.swiper-slide-active .slide-content {
  transform: translateY(0); /* Ensure active slide is in position */
}
.swiper-slide-active .slide-content {
  transform: translateY(-13%);
}

/* Adjusts slide layout for screen sizes */
@media (max-width: 768px) {
  .swiper-container {
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    height: 700px;
    margin: 2rem auto;
  }

  .slide-image {
    height: 600px;
  }
}
