/* General section styling */
.safari-section {
  background-color: var(--beige-tan); /* Beige background similar to the top */
  padding: 50px 20px;
  color: white;
  margin-top: -40px;
  margin-bottom: 40px;
  height: 100%;
}

.image-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.slider-image {
  position: relative;
  max-width: 98%;
  height: 90dvh;
  background-size: cover;
  background-position: center;
  margin: auto 95px auto -95px;
}

.kenya {
  background-image: url("https://images.pexels.com/photos/2253276/pexels-photo-2253276.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.uganda {
  background-image: url("https://images.pexels.com/photos/219943/pexels-photo-219943.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.tanzania {
  background-image: url("https://images.pexels.com/photos/1062249/pexels-photo-1062249.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.rwanda {
  background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.slider-caption {
  position: absolute;
  bottom: 50%;
  left: 40%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.section-safari {
  margin-bottom: 60px;
  background-color: var(--dark-gray);
  color: #ffffff;
  margin-top: -40px;
}
.section-content {
  padding-top: 70px;
  text-align: center;
}

.section-content img {
  width: 90%;
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}
h5 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 50px;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  line-height: 3;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 90px;
}

.view-button {
  background-color: var(--dark-gray);
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: 100;
  margin: 40px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Adjustments for button hover */
.view-button:hover {
  background-color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
  .image-slider {
    flex-direction: column;
  }

  .slider-image {
    margin-bottom: 20px;
    margin: auto 60px auto 0%;
    width: 100%;
  }

  .section-content img {
    max-width: 100%;
  }

  .slider-caption {
    position: absolute;
    bottom: 50%;
    left: 40%;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .slider-caption {
    bottom: 50%;
    left: 33%;
    font-size: 1.7rem;
    font-weight: 800;
  }

  .section-content {
    text-align: center;
    margin-bottom: 70px;
  }

  .section-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 20px auto;
  }
}
