/* General section styling */
.wildlife-section {
  background-color: var(--dark-gray);
  color: #ffffff;
  padding: 20px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px; /* Adds space between letters */
}

.main-image {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  line-height: 1.2;
  line-height: 1.9;
  color: #ccc;
  font-weight: 300;
  margin-bottom: 5px;
  object-fit: cover;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  margin: 20px 0;
}

.description {
  margin-bottom: 20px;
}

/* Accordion styling */
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  cursor: pointer;
  background-color: var(--slate-gray);
  border: 1px solid #122c4b; /* Border around each accordion header */
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.accordion-header:hover {
  background-color: #112947;
}

.accordion-content {
  padding: 10px;
  background-color: #122c4b;
  display: flex;
  flex-direction: column;
}
.accordion-header {
  color: whitesmoke;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--slate-gray);
}
.accordion-arrow {
  font-size: 2rem; /* Larger size for visibility */
  background-color: var(--zapier-orange);
  transition: transform 0.3s ease;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  display: grid;
  place-items: center;
  color: white;
}

.accordion-content img {
  width: 100%; /* Full width of the container */
  height: auto;
  margin-bottom: 10px;
}

/* Arrow rotates when accordion is open */
.accordion-header .accordion-arrow {
  transform: rotate(0deg);
}

.accordion-header.active .accordion-arrow {
  transform: rotate(180deg); /* Rotates the arrow when the accordion is open */
}

/* Impact section */
h5 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}
.impact-title,
.about-title {
  font-size: 3rem;
  text-align: center;
  text-transform: normal;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.impact-description,
.about-description {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.6;
}

.read-more {
  display: block;
  background-color: var(--dark-gray);
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: 100;
  margin: 60px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.wildlife-section.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Container for the top image */
.wildlife-section.top-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 90px;
}

.wildlife-section.top-image {
  width: 80%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
}

/* Container for the bottom image */
.wildlife-section .bottom-image-container {
  position: absolute;
  bottom: 20; /* Adjusting the overlap for the bottom image */
  right: 0; /* Align the bottom image to the right */
  width: 35%; /* Adjust the width of the second image */
}

.wildlife-section .bottom-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
}
.who-we-are {
  background-color: var(--dark-gray);
  margin-top: 40%;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
  .wildlife-section.image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .top-image-container,
  .bottom-image-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
  }
  .bottom-image-container {
    top: 0;
    width: 100%;
  }
  .top-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .accordion-header span {
    font-size: 16px;
  }

  .accordion-content {
    padding: 8px;
  }

  .accordion-image {
    width: 100%; /* Full-width images on mobile */
  }

  .read-more {
    font-size: 14px; /* Slightly smaller font on mobile */
  }

  .impact-title,
  .about-title {
    font-size: 3rem;
    color: #ccc;
    line-height: 1.3;
  }

  .impact-description,
  .about-description {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 2;
  }
}
.services-section {
  background-color: var(--dark-gray);
  color: #fff;
  margin: 5px;
}

.services-section h2,
.services-section h3 {
  margin-bottom: 10px;
  font-size: 3rem;
  text-align: center;
  text-transform: normal;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.testimonial-quote,
.services-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 10px 15px 20px 15px;
  color: #c0ebf3;
  font-style: normal;
  text-align: center;
}

.read-more-link {
  display: block;
  background-color: var(--dark-gray);
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: 100;
  margin: 60px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.services-image {
  margin-bottom: 30px;
  text-align: center;
}

.responsive-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.testimonial-section {
  background-color: rgba(39, 37, 37, 0.89); /* Slight transparency */
  background-image: url("https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-style: italic;
  color: white;
  opacity: 0.7;
  margin: 10px;
}
.testimonial-section h3 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 3rem;
  text-align: center;
  text-transform: normal;
  line-height: 2;
  letter-spacing: 2px;
  color: #ffffff;
}
.testimonial-quote {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

.testimonial-author {
  font-size: 24px !important;
  color: #ffffff !important;
  font-style: normal;
}
