/* General section styling */
.wildlife-section {
  background-color: var(--slate-gray);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  padding: 10px 9rem !important;
}

.wildlife-section.title {
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: calc(4 * clamp(17px, 1vw + 0.5rem, 32px));
}

.wildlife-section.main-image {
  width: 100%;
  height: auto;
  color: #ccc;
  object-fit: cover;
  margin-bottom: 20px;
}

.wildlife-section.description {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(16px, 5vw, 25px);
  line-height: clamp(1.5, 1.6, 1.8);
  text-align: left;
  margin-bottom: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
}
/* Accordion styling */
.accordion {
  width: 100%;
  background-color: var(--slate-gray);
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  color: whitesmoke;
  text-transform: uppercase;
  background-color: #232c33;
  transition: background-color 0.3s ease;
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: clamp(1.5, 1.6, 1.8);
}

.accordion-header.active {
  background-color: #31424e;
}

.accordion-arrow {
  font-size: 1.8rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--slate-gray);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid white; /* Adds a subtle white border */
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9); /* Soft white glow */
}

.accordion-header.active .accordion-arrow {
  color: white;
  transform: rotate(180deg); /* Rotate the arrow on click */
  background-color: var(--zapier-orange);
}

.accordion-content {
  padding: 20px;
  /* background-color: var(--slate-gray); */
  background-color: #31424e;
}
.accordion-content h3 {
  text-align: left;
  font-size: clamp(30px, 1vw + 1rem, 45px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
}
.accordion-content p {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  text-align: left;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}
.accordion-content img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
/* Adjusts slide layout for tablet sizes */
@media screen and (max-width: 768px) {
  .accordion {
    width: 100%;
  }
  .wildlife-section {
    gap: 5px;
    padding: 15px !important;
  }
  .accordion-content img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .accordion-arrow {
    font-size: 1.6rem;
    width: 100px;
    height: 100px;
  }
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #232c33;
    transition: background-color 0.3s ease;
    font-size: clamp(16px, 1vw + 0.5rem, 32px);
    font-family: var(--font-heading);
    font-weight: 500;
    line-height: clamp(1.5, 1.6, 1.8);
  }
}
/* Adjusts slide layout for mobile sizes */
@media (max-width: 479px) {
  .accordion {
    width: 100%;
  }
  .wildlife-section {
    gap: 5px;
    padding: 15px !important;
  }
  .accordion-content img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .accordion-arrow {
    font-size: 1.6rem;
    width: 100px;
    height: 100px;
  }
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #232c33;
    transition: background-color 0.3s ease;
    font-size: clamp(16px, 1vw + 0.5rem, 32px);
    font-family: var(--font-heading);
    font-weight: 500;
    line-height: clamp(1.5, 1.6, 1.8);
  }
  .accordion-content {
    padding: 10px;
  }
  .accordion-content h3 {
    font-size: clamp(60px, 3vw + 1rem, 90px);
    font-family: var(--font-heading);
    line-height: 1.5; /* Adjust as needed */
    margin-top: calc(0.9 * clamp(50px, 2vw + 1rem, 65px));
  }
  .accordion-content p {
    font-size: clamp(12px, 5vw, 20px);
    margin-top: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  }
  .accordion-content img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}
/* Impact section */
.wildlife-section h5 {
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(12px, 1vw + 0.5rem, 27px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: calc(1 * clamp(50px, 2vw + 1rem, 65px));
  margin-top: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
}
.impact-title,
.about-title {
  font-size: clamp(60px, 3vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.impact-description,
.about-description {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  text-align: left;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.read-more {
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5;
  margin-top: calc(2.5 * clamp(17px, 1vw + 0.5rem, 32px));
  margin-bottom: calc(1 * clamp(17px, 1vw + 0.5rem, 32px));
}

.wildlife-section.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Container for the top image */
.wildlife-section.top-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: left;
  margin-bottom: 90px;
}

.wildlife-section.top-image {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

/* Container for the bottom image */
.wildlife-section .bottom-image-container {
  position: absolute;
  bottom: 20;
  right: 0;
  width: 35%;
}

.wildlife-section .bottom-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.who-we-are {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35rem;
}
/* tablet responsiveness */
@media screen and (max-width: 768px) {
  .who-we-are {
    margin-left: 0;
    margin-top: 35rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wildlife-section.image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .wildlife-section.top-image-container,
  .wildlife-section.bottom-image-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .wildlife-section.bottom-image-container {
    top: 0;
    width: 100%;
  }
  .wildlife-section.top-image {
    width: 100%;
    object-fit: cover;
  }

  .impact-title,
  .about-title {
    font-size: clamp(60px, 3vw + 1rem, 90px);
    font-family: var(--font-heading);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  }
  .impact-description,
  .about-description {
    line-height: 1.7;
  }
}
/* mobile responsiveness */
@media (max-width: 479px) {
  .who-we-are {
    margin-top: 16rem;
  }
  .wildlife-section.image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .wildlife-section.top-image-container,
  .wildlife-section.bottom-image-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .wildlife-section.bottom-image-container {
    top: 0;
    width: 100%;
  }
  .wildlife-section.top-image {
    width: 100%;
    object-fit: cover;
  }

  .impact-title,
  .about-title {
    font-size: clamp(60px, 3vw + 1rem, 90px);
    font-family: var(--font-heading);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  }
  .impact-description,
  .about-description {
    line-height: 1.7;
  }
}

.services-section h3 {
  font-size: clamp(60px, 3vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.services-section p {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(10px, 5vw, 18px);
  line-height: clamp(1.5, 1.6, 1.8);
  text-align: left;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
}

.read-more-link {
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  font-size: clamp(17px, 1vw + 0.5rem, 32px);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5;
  margin-top: calc(2.5 * clamp(17px, 1vw + 0.5rem, 32px));
  margin-bottom: calc(1 * clamp(17px, 1vw + 0.5rem, 32px));
}

.services-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: calc(1 * clamp(17px, 1vw + 0.5rem, 32px));
  margin-top: calc(2.5 * clamp(17px, 1vw + 0.5rem, 32px));
}
.services-image .responsive-image {
  width: 100%;
  height: 100%;
}

/* testimonial styles begin from here */

.testimonial-section {
  padding: 10px 9rem !important;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: grid;
  place-items: center;
  height: 90vh;
  gap: 10px;
  filter: brightness(0.9);
}
.fade-in {
  opacity: 0.9;
}

.testimonial-section h3 {
  font-size: clamp(60px, 2vw + 1rem, 90px);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  color: #fff;
}
.testimonial-quote {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: clamp(16px, 5vw, 25px);
  line-height: clamp(1.5, 1.6, 1.8);
  margin-bottom: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
  color: rgb(82, 82, 82);
  filter: brightness(0.5);
  z-index: 200;
}

.testimonial-author {
  text-transform: uppercase;
  font-size: clamp(16px, 1vw + 0.5rem, 27px);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  align-self: flex-end;
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .services-section {
    padding: 15px !important;
    margin-top: calc(2.5 * clamp(17px, 1vw + 0.5rem, 32px));
    gap: 5px;
  }

  .testimonial-section {
    padding: 15px !important;
    height: 100% !important;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .services-section {
    padding: 15px !important;
    margin-top: calc(2.5 * clamp(17px, 1vw + 0.5rem, 32px));
    gap: 5px;
  }

  .testimonial-section {
    padding: 15px !important;
    height: 100% !important;
    width: 100%;
  }
  .testimonial-section h3 {
    margin-bottom: calc(0.8 * clamp(50px, 2vw + 1rem, 65px));
  }
  .testimonial-quote {
    margin-bottom: calc(1.5 * clamp(50px, 2vw + 1rem, 65px));
  }

  .testimonial-author {
    padding-bottom: calc(3 * clamp(17px, 1vw + 0.5rem, 32px));
  }
}
